@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900|Nunito: 200, 300, 400, 600, 700, 800, 900|Quicksand:400,500,700,800,900");
/* general class */
body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  overflow-x: hidden;
  position: relative; }

p {
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  line-height: 25px;
  padding-bottom: 40px;
  margin-bottom: 0; }

a, i {
  transition: .3s; }

.btn {
  padding: 15px 40px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #16a085;
  border-color: #16a085;
  color: #fff;
  transition: .3s; }

.btn:hover {
  background-color: #0f826b;
  border-color: #0f826b; }

.container {
  padding-left: 15px;
  padding-right: 15px; }

.dark {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 1s; }

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff; }

/* navigation */
.navbar {
  transition: 1s; }
  .navbar .navbar-brand {
    padding: 2px 55px 0 55px; }
  .navbar .nav-links .navbar-brand {
    padding: 2px 55px 0 55px; }
  .navbar .nav-links .nav-link {
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 15px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 0; }
  .navbar .nav-links .nav-link.active {
    color: #16a085; }

.jumbotron-fluid {
  background: url("../img/hero.jpg") center bottom/cover;
  height: 100vh;
  padding-top: 40vh; }
  .jumbotron-fluid .jumbotron-center h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 6px; }
  .jumbotron-fluid .jumbotron-center p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700; }
  .jumbotron-fluid .jumbotron-center .btn {
    padding: 15px 32px; }
  .jumbotron-fluid .icons {
    padding-bottom: 28px;
    margin: 0 auto;
    font-size: 28px; }
    .jumbotron-fluid .icons i {
      padding: 0 5px; }
    .jumbotron-fluid .icons i:hover {
      color: #16a085; }

/* photoapp */
#photoapp {
  background-color: #f5f6f7; }
  #photoapp .photo {
    background-image: url("../img/hand-phone.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 115px 15px; }
    #photoapp .photo .photoapp-header {
      color: #16a085;
      font-size: 20px;
      font-weight: 800;
      padding-bottom: 40px; }
    #photoapp .photo p {
      width: 40%; }

/* design */
.design {
  padding-top: 130px; }
  .design .design-header {
    color: #16a085;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 40px; }
  .design .design-button {
    margin-bottom: 40px; }
  .design .number {
    font-size: 12px;
    font-weight: 900; }

/* carousel controls */
.next-prev a {
  position: relative;
  width: 26px;
  height: 30px;
  color: #000;
  opacity: 1; }
  .next-prev a .fa {
    color: #000;
    font-size: 35px;
    font-weight: 500; }
.next-prev .carousel-control-next i {
  position: absolute;
  right: 0;
  bottom: 0; }
.next-prev .carousel-control-prev i {
  position: absolute;
  bottom: 0;
  left: 0; }
.next-prev .carousel-control-next:hover i,
.next-prev .carousel-control-prev:hover i {
  color: #16a085;
  -webkit-text-decoration-color: #16a085;
          text-decoration-color: #16a085; }

/* community */
#community {
  background-color: #f5f6f7;
  padding: 100px 0 130px; }
  #community .community-col {
    padding: 0 60px 0 0; }
    #community .community-col .community-img {
      padding: 70px 0 30px; }
    #community .community-col .community-header {
      margin: 0;
      padding-bottom: 22px;
      font-size: 17px;
      font-weight: 900; }
    #community .community-col .community-p {
      line-height: 13px;
      font-size: 10px;
      padding: 0 40px 30px;
      font-weight: 500; }
  #community .mycarousel2 {
    padding: 0 80px 0 0; }

/* subscribe */
#subscribe {
  background: url("../img/parallax.jpg") center/cover;
  background-repeat: no-repeat;
  padding: 350px 0; }
  #subscribe .subscribe-header {
    font-family: 'Quicksand', sans-serif;
    font-size: 29px;
    letter-spacing: 4px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 32px; }
  #subscribe .form-group .subscribe-email {
    height: 63px;
    padding: 15px 95px 15px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  #subscribe .subscribe-button {
    height: 63px;
    width: 65px;
    padding: 10px 15px 5px 15px;
    font-size: 22px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

/* download */
#download {
  background-color: #f5f6f7;
  padding: 100px 0 130px; }
  #download .download-header {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0;
    padding-bottom: 6px; }
  #download .download-p {
    font-weight: 500;
    padding: 0 70px 40px; }
  #download .download-link .download-btn {
    width: 240px;
    height: 55px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #28ba9d;
    border-color: #28ba9d; }
  #download .download-link .download-btn-icon {
    width: 60px;
    height: 55px;
    font-size: 30px;
    margin-right: 20px;
    padding: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  #download .download-link:hover .download-btn,
  #download .download-link:hover .download-btn-icon {
    background-color: #0f826b;
    border-color: #0f826b; }

/* footer */
.footer .footer-text {
  width: 75%; }
  .footer .footer-text .footer-p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 15px;
    text-decoration: none;
    color: #000; }
  .footer .footer-text .footer-line {
    color: #16a085; }
  .footer .footer-text .footer-p:hover {
    color: #16a085;
    text-decoration: none; }
.footer .footer-text,
.footer .footer-text1 {
  padding-bottom: 0;
  font-weight: 500;
  font-size: 15px; }

/* media quaries */
@media (max-width: 767px) {
  /* navigation */
  .navbar {
    background-color: #000; }
    .navbar .nav-links .nav-link {
      padding: 15px 0; }

  /* jumbotron */
  .jumbotron-fluid {
    padding-top: 20vh; }
    .jumbotron-fluid .jumbotron-center {
      margin-top: 81px; }
    .jumbotron-fluid .icons {
      padding-bottom: 15px; }

  /* photoapp */
  #photoapp .photo {
    background-image: none; }
    #photoapp .photo p {
      width: 100%; }

  /* design */
  .design {
    padding-top: 100px; }
    .design img {
      width: 250px; }

  /* community */
  #community .community-col .community-p {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px; }
  #community .mycarousel2 .img {
    padding: 10px 0; }

  /* subscribe */
  #subscribe .form-group {
    width: 200px; }
    #subscribe .form-group .subscribe-email {
      padding-right: 55px; }
  #subscribe .subscribe-button {
    margin-bottom: 16px; }

  /* download */
  #download {
    padding-bottom: 90px; }
    #download .download-p {
      padding-right: 15px;
      padding-left: 15px;
      font-size: 11px; }
    #download .download-link .download-btn {
      padding-right: 20px;
      width: 170px;
      font-size: 15px; }
    #download .download-link .download-btn,
    #download .download-link .download-btn-icon {
      margin: 10px 0; }

  /* footer */
  .footer {
    position: relative; }
    .footer .footer-text {
      width: 100%; }
    .footer .footer-text1 {
      width: 80%; }
    .footer .footer-img {
      position: absolute;
      right: 15px;
      bottom: 48px; } }
@media (min-width: 768px) and (max-width: 992px) {
  /* navigation */
  .navbar {
    padding-top: 20px; }

  /* jumbotron */
  .jumbotron-fluid {
    padding-top: 50%; }

  /* photoapp */
  #photoapp .photo p {
    width: 50%; }

  /* design */
  .design .carousel {
    width: 313px;
    position: absolute;
    bottom: 0; }
    .design .carousel .carousel-inner {
      width: 313px; }

  /* community */
  #community .community-col .community-p {
    font-size: 12px;
    padding: 0; }
  #community .mycarousel2 .img {
    width: 350px; } }
@media (max-width: 992px) {
  /* community */
  #community .community-col {
    padding: 0; }
    #community .community-col .community-img {
      padding-top: 30px; }
  #community .mycarousel2 {
    padding: 0 5px; }

  /* subscribe */
  #subscribe {
    padding: 40% 0; }

  /* download */
  #download .download-header {
    padding-bottom: 20px; } }
@media (min-width: 993px) and (max-width: 1199px) {
  /* jumbotron */
  .jumbotron-fluid {
    padding-top: 50%; } }
@media (min-width: 1200px) {
  /* navigation */
  .navbar .nav-links .nav-link:hover {
    color: #16a085; } }
