@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900|Nunito: 200, 300, 400, 600, 700, 800, 900|Quicksand:400,500,700,800,900');


$main-color: #16a085;
$hover-color: #0f826b;

/* general class */

body {
	font-family: 'Nunito', sans-serif;
	letter-spacing: 2px;
	overflow-x: hidden;
	position: relative;
}
p {
	font-size: 13px;
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	line-height: 25px;
	padding-bottom: 40px;
	margin-bottom: 0;

}
a, i {
	transition: .3s;
}
.btn {
	padding: 15px 40px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	background-color: $main-color;
	border-color: $main-color;
	color: #fff;
	transition: .3s;
}

.btn:hover {
	background-color: $hover-color;
	border-color: $hover-color;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}
.dark {
	background-color: rgba(0, 0, 0, 0.9);
	transition: 1s;
}

/* header */

header {
	background: url("../img/hero.jpg") center bottom/cover;
	height: 100vh;
		/* navbar */

	#navbar {
		transition: 1s;
		.navbar-brand {
			padding: 2px 55px 0 55px;
		}
		.nav-links {
			.navbar-brand {
				padding: 2px 55px 0 55px;
			}
			.nav-link {
				font-weight: 800;
				letter-spacing: 3px;
				font-size: 15px;
				color: #fff;
				padding-top: 30px;
				padding-bottom: 0;
			}
			.nav-link.active {
				color: $main-color;
			}
			.nav-link:hover {
				color: $main-color;
			}
		}
	}

	.hero-center {
		h1 {
			font-family: 'Quicksand', sans-serif;
			font-size: 38px;
			font-weight: 900;
			letter-spacing: 6px;
		}
		p {
			font-family: 'Quicksand', sans-serif;
			font-size: 18px;
			font-weight: 700;
		}
		.btn {
			padding: 15px 32px;
		}
	}

		
	 
	.icons {
		padding-bottom: 28px;
		margin: 0 auto;	
		font-size: 28px;
		i {
			padding: 0 5px;
		}
		i:hover {
			color: $main-color;
		}
	}

}



/* photoapp */


#photoapp {
	background-color: #f5f6f7;
	.photo {
		background-image: url("../img/hand-phone.jpg");
		background-position: right bottom;
		background-repeat: no-repeat;
		padding: 115px 15px;
		.photoapp-header {
			color: $main-color;
			font-size: 20px;
			font-weight: 800;
			padding-bottom: 40px;
		}
		p {
			width: 40%;
		}
	}
}


/* design */

.design {
	padding-top: 130px;
	.design-header {
		color: $main-color;
		font-size: 20px;
		font-weight: 800;
		padding-bottom: 40px;
	}
	.design-button {
		margin-bottom: 40px;
	}
	.number {
		font-size: 12px;
		font-weight: 900;
	}
}


/* carousel controls */

.next-prev {
	a {
		position: relative;
		width: 26px;
		height: 30px;
		color: #000;
		opacity: 1;
		.fa {
			color: #000;
			font-size: 35px;
			font-weight: 500;
			
		}
	}
	.carousel-control-next {
		i {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	.carousel-control-prev {
		i {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.carousel-control-next:hover i,
	.carousel-control-prev:hover i {
		color: $main-color;
		text-decoration-color: $main-color; 
	}
}

/* community */

#community {
	background-color: #f5f6f7;
	padding: 100px 0 130px;
	.community-col {
		padding: 0 60px 0 0;
		.community-img {
			padding: 70px 0 30px;
		}
		.community-header {
			margin: 0;
			padding-bottom: 22px;
			font-size: 17px;
			font-weight: 900;
		}
		.community-p {
			line-height: 13px;
			font-size: 10px;
			padding: 0 40px 30px;
			font-weight: 500;
		}
	}
	.mycarousel2 {
		padding: 0 80px 0 0;
	}
}


/* subscribe */

#subscribe {
	background: url('../img/parallax.jpg') center/cover;
	background-repeat: no-repeat;
	padding: 350px 0;
	.subscribe-header{
		font-family: 'Quicksand', sans-serif;
		font-size: 29px;
		letter-spacing: 4px;
		font-weight: 900;
		margin: 0;
		padding-bottom: 32px;
	}
	.form-group {
		.subscribe-email {
			height: 63px;
			padding: 15px 95px 15px 20px;
			font-family: 'Quicksand', sans-serif;
			font-size: 17px;
			font-weight: 700;
			letter-spacing: 2px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}	
	.subscribe-button {
		height: 63px;
		width: 65px;
		padding: 10px 15px 5px 15px;
		font-size: 22px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}


/* download */

#download {
	background-color: #f5f6f7;
	padding: 100px 0 130px;
	.download-header {
		font-size: 20px;
		font-weight: 900;
		letter-spacing: 4px;
		margin: 0;
		padding-bottom: 6px;
	}
	.download-p {
		font-weight: 500;
		padding: 0 70px 40px;
	}
	.download-link {
		.download-btn {
			width: 240px;
			height: 55px;
			padding-left: 20px;
			font-size: 18px;
			font-weight: 700;
			text-align: left;
			margin: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			background-color: #28ba9d;
			border-color: #28ba9d;
		}
		.download-btn-icon {
			width: 60px;
			height: 55px;
			font-size: 30px;
			margin-right: 20px;
			padding: 5px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.download-link:hover .download-btn,
	.download-link:hover .download-btn-icon {
		background-color: $hover-color;
		border-color: $hover-color;
	}	

}

/* footer */

.footer {
	.footer-text {
		width: 75%;
		.footer-p {
			font-family: 'Quicksand', sans-serif;
			font-size: 14px;
			font-weight: 700;
			padding-bottom: 15px;
			text-decoration: none;
			color: #000;
		}
		.footer-line {
			color: $main-color;
		}
		.footer-p:hover {
			color: $main-color;
			text-decoration: none;
		}
	}
	.footer-text,
	.footer-text1 {
		padding-bottom: 0;
		font-weight: 500;
		font-size: 15px;
	}	
	
}


/* media quaries */


@media(max-width: 767px) {
	
	/* header */
	
	header {
		#navbar {
			background-color: #000;
			.nav-links {
				.nav-link {
					padding: 15px 0;
				}
			}
		}
		.hero-center {
			margin-top: 81px;
		}
		.icons {
			padding-bottom: 15px;
		}
	}	
	
	/* photoapp */
	
	#photoapp {
		.photo {
			background-image: none;
			p {
				width: 100%;
			}
		}
	}
	
	
	/* design */
	
	.design {
		padding-top: 100px;
		img {
			width: 250px;
		}
	}	

	/* community */
	
	#community {
		.community-col {
			.community-p {
				padding-left: 100px;
				padding-right: 100px;
				padding-bottom: 40px;
			}
		}
		.mycarousel2 {
			.img {
				padding: 10px 0;
			}
		}
	}	
	
	/* subscribe */
	
	#subscribe {
		.form-group {
			width: 200px;
			.subscribe-email {
				padding-right: 55px;
			}
		}
		.subscribe-button {
			margin-bottom: 16px;
		}
	}
	

	/* download */
	
	#download {
		padding-bottom: 90px;
		.download-p {
			padding-right: 15px; 
			padding-left: 15px;
			font-size: 11px;
		}
		.download-link {
			.download-btn {
				padding-right: 20px;
				width: 170px;
				font-size: 15px;
			}
			.download-btn, 
			.download-btn-icon {
				margin: 10px 0;
				
			}
		}
		
	}	

	/* footer */
	
	.footer {
		position: relative;
		.footer-text {
			width: 100%;
		}
		.footer-text1 {
			width: 80%;
		}
		.footer-img {
			position: absolute;
			right: 15px;
			bottom: 48px;
		}
	}	
}

@media(min-width: 768px) and (max-width: 992px) {
	
	/* header */
	header {
		#navbar {
			padding-top: 20px;

		}
	}

	/* photoapp */
	
	#photoapp {
		.photo {
			p {
				width: 50%;
			}
		}
	}
	

	/* design */
	
	.design {
		.carousel {
			width: 313px;
			position: absolute;
			bottom: 0;
			.carousel-inner {
				width: 313px;
			}	
		}
	}
	
	/* community */
	
	#community {
		.community-col {
			.community-p {
				font-size: 12px;
				padding: 0;
			}
		}
		.mycarousel2 {
			.img {
				width: 350px;
			}
		}
	}
	
}
@media(max-width: 992px) {
	
	
	
	/* community */
	#community {
		.community-col {
			padding: 0;
			.community-img {
				padding-top: 30px;
			}
		}
		.mycarousel2 {
			padding: 0 5px;
		}
	}	
	
	/* subscribe */
	
	#subscribe {
		padding: 40% 0;
	}
	
	/* download */
	#download {
		.download-header {
			padding-bottom: 20px;
		}
	}
		

}